<div class="form-group">
    <input 
        [class.is-invalid]="ngControl.touched && ngControl.invalid"
        type={{type}}
        class="form-control" 
        [formControl]="$any(ngControl.control)"
        placeholder={{label}}>
    <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Debe de ingresar {{label}}</div>
    <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">{{label}} debe ser de al menos {{ngControl.control.errors.minlength['requiredLength']}}</div>
    <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">{{label}} debe de ser {{ngControl.control.errors.maxlength['requiredLength']}} como maximo</div>
    <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">Los password no coinciden</div>
</div>